@model Project
@{
    ViewData["Title"] = "Details";
}

<!DOCTYPE html>
<html lang="en">

<body>


    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Portfolio Details</h2>
                    <ol>
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li>Project Details</li>
                    </ol>
                </div>

            </div>
        </section><!-- End Breadcrumbs -->
        <!-- ======= Portfolio Details Section ======= -->
        <section id="portfolio-details" class="portfolio-details">
            <div class="container">

                <div class="row gy-4">

                    <div class="col-lg-8">
                        <div class="portfolio-details-slider swiper">
                            <div class="swiper-wrapper align-items-center">
                                @foreach (var item in Model.Pictures.Where(x => !x.IsMain))
                                {
                                    <div class="swiper-slide">
                                        <img src="~/assets/img/portfolio/@item.Name" alt="@Model.Name">
                                    </div>
                                }

                                @*<div class="swiper-slide">
                                    <img src="~/assets/img/portfolio/portfolio-details-1.jpg" alt="">
                                </div>

                                <div class="swiper-slide">
                                    <img src="~/assets/img/portfolio/portfolio-details-2.jpg" alt="">
                                </div>

                                <div class="swiper-slide">
                                    <img src="~/assets/img/portfolio/portfolio-details-3.jpg" alt="">
                                </div>*@

                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="portfolio-info">
                            <h3>Project information</h3>
                            <ul>
                                <li><strong>Category</strong>: @Model.Category</li>
                                <li><strong>Project Name</strong>: @Model.Name</li>
                                <li><strong>Project Date</strong>: @Model.BuildDate.ToString("dd MMMM yyyy")</li>
                                <li><strong>Project URL</strong>: <a href="#">@Model.ProjectURL</a></li>
                            </ul>
                        </div>
                        <div class="portfolio-description">
                            <h2>Projects Description</h2>
                            <p>
                            @Model.Description   
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Portfolio Details Section -->

    </main><!-- End #main -->

</body>

</html>

