@model MainVM
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        #hero {
            width: 100%;
            height: 100vh;
            background: url("../assets/img/dvp4.jpg") top center;
            background-size: cover;
        }
    </style>
</head>

<body>




    <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
        <div class="hero-container" data-aos="fade-in">
            <h1>Fuad Muradov</h1>
            <p>I'm <span class="typed" data-typed-items="Developer, Freelancer, Photographer"></span></p>
        </div>
    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container">

                <div class="section-title">
                    <h2>About</h2>
                    <p>AutoBiography About Fuad Muradov</p>
                </div>

                <div class="row">
                    <div class="col-lg-4" data-aos="fade-right">
                        <img src="~/assets/img/ff.jpg" style="height:400px" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                        <h3>Backend Developer</h3>
                        <p class="fst-italic">
                            Biography Information
                        </p>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>@Model.About.Birthday.ToString("dd MMMM yyyy")</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>@Model.About.Website</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>@Model.About.Phone</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>@Model.About.City</span></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>@Model.About.Age</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>@Model.About.Degree</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>PhEmailone:</strong> <span>@Model.About.Email</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>@Model.About.Frelance</span></li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            @Model.About.Description 
                        </p>
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->
        <!-- ======= Facts Section ======= -->
        <section id="facts" class="facts">
            <div class="container">

                <div class="section-title">
                    <h2>Facts</h2>
                    <p>Work done as a Developer</p>
                </div>

                <div class="row no-gutters">

                    <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
                        <div class="count-box">
                            <i class="bi bi-emoji-smile"></i>
                            <span data-purecounter-start="0" data-purecounter-end="13" data-purecounter-duration="1" class="purecounter"></span>
                            <p><strong>Happy Clients</strong> </p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="count-box">
                            <i class="bi bi-journal-richtext"></i>
                            <span data-purecounter-start="0" data-purecounter-end="22" data-purecounter-duration="1" class="purecounter"></span>
                            <p><strong>Projects</strong> </p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
                        <div class="count-box">
                            <i class="bi bi-headset"></i>
                            <span data-purecounter-start="0" data-purecounter-end="343" data-purecounter-duration="1" class="purecounter"></span>
                            <p><strong>Hours Of Support</strong></p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
                        <div class="count-box">
                            <i class="bi bi-people"></i>
                            <span data-purecounter-start="0" data-purecounter-end="2" data-purecounter-duration="1" class="purecounter"></span>
                            <p><strong>Hard Workers</strong> </p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Facts Section -->
        <!-- ======= Skills Section ======= -->
        <section id="skills" class="skills section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>Skills</h2>
                    <p>Percentage of Programming Language Skills</p>
                </div>

                <div class="row skills-content">

                    <div class="col-lg-6" data-aos="fade-up">

                        @for (int i = 0; i < Model.Skills.Count / 2; i++)
                        {
                            <div class="progress">
                                <span class="skill"> @Model.Skills[i].Name <i class="val">@Model.Skills[i].Percent%</i></span>
                                <div class="progress-bar-wrap">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="@Model.Skills[i].Percent" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        }

                    </div>

                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

                        @for (int i = Model.Skills.Count / 2; i < Model.Skills.Count; i++)
                        {
                            <div class="progress">
                                <span class="skill"> @Model.Skills[i].Name <i class="val">@Model.Skills[i].Percent%</i></span>
                                <div class="progress-bar-wrap">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="@Model.Skills[i].Percent" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        }

                    </div>

                </div>

            </div>

            </div>
        </section><!-- End Skills Section -->
        <!-- ======= Resume Section ======= -->
        <section id="resume" class="resume">
            <div class="container">

                <div class="section-title">
                    <h2>Resume</h2>
                </div>

                <div class="row">
                    <div class="col-lg-6" data-aos="fade-up">
                        <h3 class="resume-title">Sumary</h3>
                        <div class="resume-item pb-0">
                            <h4>Fuad Muradov</h4>
                            <p>
                                <em>
                                    Backend Developer - Critical thinking and forward-focused professional experienced with coding in various programming languages.
                                </em>
                            </p>
                            <ul>
                                <li> Baku, Azerbaijan</li>
                                <li>(+994) 553923264</li>
                                <li>fuadmuradov570@gmail.com</li>
                            </ul>
                        </div>

                        <h3 class="resume-title">Education</h3>
                        <div class="resume-item">
                            <h4>
                                Master of  İnformation Technology and Systems Engineer
                            </h4>
                            <h5>2021 - 2023</h5>
                            <p><em>Azerbaijan State University of Economics, Baku</em></p>
                        </div>
                        <div class="resume-item">
                            <h4>Bachelor of Computer Engineering</h4>
                            <h5>2017 - 2021</h5>
                            <p><em>Baku Engineering University, Baku</em></p>
                        </div>
                    </div>
                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                        <h3 class="resume-title">Professional Experience</h3>
                        <div class="resume-item">
                            <h4>Progmatech Education Center</h4>
                            <h5>2021 - 2022</h5>
                            <p><em>Expreience Backend Developer</em></p>
                            <ul>
                                <li>.NET Winform</li>
                                <li>Asp.Net Core MVC</li>
                                <li>Microsoft SQL Server</li>
                            </ul>
                        </div>
                        <div class="resume-item">
                            <h4>HelpDesc Technition</h4>
                            <h5>2017 - 2018</h5>
                            <p><em>HelpDesc Technition - Kapital Bank, Baku</em></p>
                            <ul>
                                <li>
                                    Assisted customers by troubleshooting and resolving technical problems.
                                </li>
                                <li>
                                    Managed user profiles, security access and shared file structures.
                                </li>
                                <li>
                                    Tested performance functionality and security of network systems, individual workstations and peripheral devices.
                                </li>
                                <li>
                                    Managed user profiles, security access and shared file structures
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Resume Section -->
        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>Portfolio</h2>
                </div>

                <div class="row" data-aos="fade-up">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active">All</li>
                            <li data-filter=".filter-app">App</li>
                            <li data-filter=".filter-card">WinForm</li>
                            <li data-filter=".filter-web">Web</li>
                        </ul>
                    </div>
                </div>

                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

                    @foreach (var item in Model.Projects)
                    {
                        <div class="col-lg-4 col-md-6 portfolio-item @item.Section">
                            <div class="portfolio-wrap">
                                <img src="~/assets/img/portfolio/@item.Pictures.FirstOrDefault(x=>x.IsMain==true).Name" class="img-fluid" alt="">
                                <div class="portfolio-links">
                                    <a href="~/assets/img/portfolio/@item.Pictures.FirstOrDefault(x=>x.IsMain==true).Name" data-gallery="portfolioGallery" class="portfolio-lightbox" title="@item.Name"><i class="bx bx-plus"></i></a>
                                    <a asp-controller="Home" asp-action="Details" asp-route-id="@item.Id" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    }


                    @*<div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
                <img src="~/assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
                <div class="portfolio-links">
                    <a href="~/assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
                <img src="~/assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
                <div class="portfolio-links">
                    <a href="~/assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
                <img src="~/assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
                <div class="portfolio-links">
                    <a href="~/assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
                <img src="~/assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
                <div class="portfolio-links">
                    <a href="~/assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
                <img src="~/assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
                <div class="portfolio-links">
                    <a href="~/assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
                <img src="~/assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
                <div class="portfolio-links">
                    <a href="~/assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
                <img src="~/assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
                <div class="portfolio-links">
                    <a href="~/assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
                <img src="~/assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
                <div class="portfolio-links">
                    <a href="~/assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
                <img src="~/assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
                <div class="portfolio-links">
                    <a href="~/assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
            </div>
        </div>*@

                </div>

            </div>
        </section><!-- End Portfolio Section -->
        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>Testimonials</h2>
                </div>

                <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                    <div class="swiper-wrapper">
                        @{
                            int timer = 1;
                            foreach (var item in Model.Testimonials)
                            {
                                <div class="swiper-slide">
                                    <div class="testimonial-item" data-aos="fade-up" data-aos-delay="@timer">
                                        <p>
                                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                            @item.Description
                                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                        </p>
                                        <img src="~/assets/img/testimonials/@item.Image" class="testimonial-img" alt="">
                                        <h3>@item.Fullname</h3>
                                        <h4>@item.Jobname</h4>
                                    </div>
                                </div><!-- End testimonial item -->
                                timer += 100;
                            }
                        }
                       

                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </section><!-- End Testimonials Section -->
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="section-title">
                    <h2>Contact</h2>
                </div>

                <div class="row" data-aos="fade-in">

                    <div class="col-lg-5 d-flex align-items-stretch">
                        <div class="info">
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>Location:</h4>
                                <p>@Model.Contact.Location</p>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>Email:</h4>
                                <p>@Model.Contact.Email</p>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4>Call:</h4>
                                <p>@Model.Contact.Phone</p>
                            </div>

                            <iframe src="https://maps.google.com/maps?q=Baku,%20Azerbaijan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
      
                        </div>

                    </div>
                    <style>
                        .contact .form-group {
                            padding-bottom: 8px;
                        }


                        .contact .form-group {
                            margin-bottom: 15px;
                        }

                        .contact label {
                            padding-bottom: 8px;
                        }

                        .contact input, .contact textarea {
                            border-radius: 0;
                            box-shadow: none;
                            font-size: 14px;
                        }

                        .contact input {
                            height: 44px;
                        }

                        .contact textarea {
                            padding: 10px 15px;
                        }

                        #buttonId {
                            background: #149ddd;
                            border: 0;
                            padding: 10px 24px;
                            color: #fff;
                            transition: 0.4s;
                            border-radius: 4px;
                        }

                            #buttonId:hover {
                                background: #37b3ed;
                            }
                    </style>
                    <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                        <form method="post" class="form-control" asp-controller="Home" asp-action="SendMail">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="name">Your Name</label>
                                    <input type="text" name="name" class="form-control" id="nameId" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="name">Your Email</label>
                                    <input type="email" class="form-control" name="email" id="emailId" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name">Subject</label>
                                <input type="text" class="form-control" name="subject" id="subjectId" required>
                            </div>
                            <div class="form-group">
                                <label for="name">Message</label>
                                <textarea class="form-control" name="message" id="messageId" rows="10" required></textarea>
                            </div>

                            <div class="text-center"><button type="submit" id="buttonId" class="btn btn-submit">Send Message</button></div>
                        </form>
                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <div class="copyright">
                <strong><span>My Portfolio</span></strong>
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
                Designed by <a href="https://bootstrapmade.com/">Fuad Muradov</a>
            </div>
        </div>
    </footer><!-- End  Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>



</body>

</html>

